.THIS .buttonsf{
    
  position: fixed;
    top: 55px;
    left: 29px;
 
    }

.THIS .buttonsS{
    
  position: fixed;
	top:55px;
    left: 60px;
   
    }

.THIS .buttonsT{
    
  position: fixed;
    top: 55px;
    left: 100px;
   
    }
.THIS .buttonsfo{
    
  position: fixed;
   top: 55px;
    left: 115px;

    }

.THIS .buttonsfif{
    
  position: fixed;
    top: 55px;
   left:150px;
    }