.THIS .buttonsf{
    
  position: fixed;
    top: 55px;
    left: 29px;
    float: left;
    }

.THIS .buttonsS{
    
  position: fixed;
	top:55px;
    left: 60px;
    float: left;
    }

.THIS .buttonsT{
    
  position: fixed;
    top: 55px;
    
    float: left;
    }
.THIS .buttonsfo{
    
  position: fixed;
   top: 55px;
    left: 115px;
    float:left;
    }

.THIS .buttonsfif{
    
  position: fixed;
    top: 55px;
    float:left;
    }